{% extends 'breath/base.html' %}

{% block content %}
    <h2>Contact</h2>
    <p>If you want to contact us regarding this platform, please write to: <a href="mailto:pweber@imada.sdu.dk">Philipp Weber</a> </p>
    <h2>Citation</h2>
<p>Please cite:</p>
<blockquote class="blockquote">
Philipp Weber, Josch Konstantin Pauling, Markus List, and Jan Baumbach. "Balsam—an interactive online platform for breath analysis, visualization and classification." Metabolites 10, no. 10 (2020): 393.
</blockquote>
The manuscript is available at <a href="https://doi.org/10.3390/metabo10100393">https://doi.org/10.3390/metabo10100393</a>.
{% endblock %}
