{% extends 'breath/base.html' %}

{% block content %}
    <h2>Your Analysis Runs</h2>
    {% if analysis_ids %}

        {% for analysis_id in analysis_ids %}
        <div class="card">
          <div class="card-body">
              <div><a href="{% url 'analysis_details' analysis_id %}">Analysis {{ analysis_id }} Details</a></div>
          </div>
        </div>

        {% endfor %}

    {% else %}
        <h3>No Analysis found. Create one <a href="{% url 'run' %}">here</a>.</h3>
    {% endif %}



{% endblock %}

