{% extends 'breath/base.html' %}

{% block content %}
    <h2>Cookie Policy</h2>
    <p>We're using cookies to enable the functionality of this page. No third party cookies are saved.</p>
    <p>Our cookies are listed under <a href="{% url 'cookie_consent_cookie_group_list' %}">cookies</a>.</p>
    <p>Learn about cookies <a href="https://www.learn-about-cookies.com/" target="_blank">www.learn-about-cookies.com</a>.</p>
    <p>If you want to contact us regarding this platform, please write to: <a href="mailto:pweber@imada.sdu.dk">Philipp Weber</a> </p>
{% endblock %}
