# this script can be used to install the requirements - but conda_docker_env.yml should lead to a complete working version aswell
# install recommended environment using `conda env create -f conda_docker_env.yml`

# alternatively (manual):
conda env create --name django_breath_dev
# important for installing uwsgi, python==3.6.7 leads to build failure
conda activate django_breath_dev
conda install python==3.6.10 celery==3.1.25 django==2.2.14 python-graphviz Jinja2==2.11.1 llvmlite==0.31.0 matplotlib==3.2.1 matplotlib-venn==0.11.5 numpy pandas==1.0.3 psycopg2 PyWavelets==1.1.1 python-magic==0.4.15 scikit-image==0.16.2 scikit-learn==0.22.2.post1 scipy==1.4.1 seaborn==0.10 statsmodels==0.11.1 xlrd==1.2.0 django-celery=3.2.2 sqlparse=0.3.1 uwsgi -c conda-forge
pip install django-crispy-forms==1.7.2 jobtastic==2.1.1 psutil==3.4.2 django-cookie-consent==0.2.0 breathpy==0.8.5